{% if site.posts > 0 %}
<div class="list-posts">
    {% for post in site.posts %}
    <a href="{{ post.url | relative_url }}" class="list-post">
        <div class="list-post__content">
            <h2 class="list-post__title" >{{ post.title | escape }}</h2>
            <p class="list-post__desc">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        </div>
        <ul class="list-post__tags">
            <li class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</li>
            {% for tag in post.categories %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </a>
    {% endfor %}
</div>
{% else %}
<p>We're new at this, give us a break. We'll post something soon.</p>
{% endif %}
