<header class="site-header" role="banner">

    <button id="menuToggle" class="site-header__toggler">
        <i class="fa fa-window-close"></i>
        <span>
            {% include icon.html %}
            <i class="fa fa-bars"></i>
        </span>
    </button>

    <div class="site-brand">
        <a class="site-title" href="{{ "/" | relative_url}}">
            {% include logo.html %}
        </a>

        <p><a href="https://calendly.com/freshbrewedweb"><i class="fa fa-phone-square"></i> Schedule a Call</a></p>
        <p><a href="mailto:info@freshbrewedweb.com"><i class="fa fa-envelope"></i> info@freshbrewedweb.com</a></p>
    </div>

    {% include nav.html nav=site.data.menu %}

    <div class="site-header__video">
        <video playsinline autoplay muted loop poster="/assets/coffee-steaming.jpg" id="coffee-steam">
            <source src="/assets/coffee-steaming.webm" type="video/webm">
            <source src="/assets/coffee-steaming.mp4" type="video/mp4">
        </video>
    </div>

</header>
