<header class="site-header site-header--is-open" role="banner">

    <button class="site-header__toggler">
        <i class="fa fa-window-close"></i>
    </button>

    <div class="site-brand">
        <a class="site-title" href="{{ "/" | relative_url}}">
            {% include logo.html %}
        </a>

        <p><a href="https://calendly.com/freshbrewedweb"><i class="fa fa-phone-square"></i> Schedule a Call</a></p>
        <p><a href="https://calendly.com/freshbrewedweb"><i class="fa fa-envelope"></i> info@freshbrewedweb.com</a></p>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

</header>
