<div class="list-posts">
    {% for item in site.projects %}
    <a class="list-post" href="{% if item.external %}{{ item.external }}{% else %}{{ item.url }}{% endif %}">
        <div class="list-post__content">
            <h2 class="list-post__title" >{{ item.title }}</h2>
            <p class="list-post__desc">{{ item.description }}</p>
        </div>
        <ul class="list-post__tags">
            {% for tag in item.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </a>
    {% endfor %}
</div>
