<p class="social">
    <a href="{{ "/feed.xml" | relative_url }}" class="button"><i class="fa fa-rss"></i> RSS Subscribe</a>
    <a href="https://www.facebook.com/FreshBrewedWebMTL/" class="button"><i class="fa fa-facebook-square"></i> Facebook</a>
    <a href="https://twitter.com/freshbreweddev" class="button"><i class="fa fa-twitter"></i> Twitter</a>
    <a href="https://www.linkedin.com/in/greghunt/" class="button"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
    <a href="https://github.com/freshbrewedweb" class="button"><i class="fa fa-github"></i> Github</a>
</p>
