.pill {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 99em;
    background-color: $brand-dark;
    color: $brand-light;
    text-transform: uppercase;

    &--sm {
        font-size: 0.75em;
    }

    &:hover {
        background-color: $brand-primary;
    }
}

ul.list-inline {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin-right: 1em;
    }
}

ul.list-projects {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project {
    margin: 0;
    position: relative;
    color: $brand-dark;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 2px solid $brand-primary;
    background-color: rgba($brand-primary, 0.05);

    &:nth-child(2n+1) {
        background-color: rgba($brand-primary, 0.15);
    }

    &:hover {
        background-color: $brand-primary;
        color: $brand-light;
    }

    border-bottom-width: 0;
    &:first-child {
        border-radius: 1em 1em 0 0;
    }

    &:last-child {
        border-radius: 0 0 1em 1em;
        border-bottom-width: 2px;
    }

    &__title {
        @include font-size(16px);
        text-transform: uppercase;
        padding: $spacing-unit/2;
        padding-bottom: 0;
        margin: 0;
    }

    &__desc {
        @include font-size();
        margin: 0;
        padding: $spacing-unit/2;
    }

    &__content {
        width: 85%;
    }

    &__tags {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 15%;
        margin-left: auto;

        li {
            background-color: rgba($brand-dark, 0.8);
            font-weight: 300;
            color: $brand-light;
            font-size: 0.75em;
            margin-top: 0;
            margin-bottom: 2px;
            padding: 4px;
            text-align: right;

            &:last-child {
                border-bottom-left-radius: 3px;
            }
        }
    }
}

.team {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 $spacing-unit $spacing-unit 0;
    }

}

.team-member {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 3px solid #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__info {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: $spacing-unit/2;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        color: $brand-light;
        background-image: linear-gradient(transparent, transparent 50%, rgba(0,0,0,0.85));
    }

    &__name {
        margin: 0;
        @include font-size(16px);
    }

    &__title {
        margin: 0;
        font-size: 0.75em;
        font-weight: 400;
    }
}
